---

#
# This file is part of the `src-run/cocoa-word-stem-library` project.
#
# (c) Rob Frawley 2nd <rmf@src.run>
#
# For the full copyright and license information, view the LICENSE.md
# file distributed with this source code.
#

sudo     : false
language : php
php      : [ 7.1, nightly ]

git:
  depth : 3

env:
  global:
    - secure: "wHKrzON9nhjMhIO/UceHJM7sUnTbHGTPFuwlipplR/NbxR8oq1c8ASjW3cask7L6v2giDeZhvrXJvCX7uw+OqX0VVtN0anjr+zXIJTv/RyBFX5thkstxcdr1XIDKBtda3MypeyNZj+/Px21UVdSaaWEabjvCRlL8usoen+CRDbncJWcR3ELbFlU5+JGnSrqmWN/fOExtkhvD0s/2Y74wNvZBozQR8KaW4pgRiA/dwUjRgsnKRrT4J6ZMUfxu4tZQCq51UzOnC5HEiYbjcLpUJ2P/Sv2RP6GOT+Kfx28NpfGxOvi+drQbToq3lXY60dFEhZbijYGKG7WqEH5mabfi7zaCSAfcPRxL9Z30CdpjxIG7+Sd9EhubyvLKtGbRuoYV38D1vJorlNYPJi9fzL6SITTDKxVvuHt7097JouR+Zx4Sz1IZFFLa/PqHxKI1cpRNpzE2seS5CrjMSCOzV/M/euDOQuhomVAIirlhj52AKG/55KRmEtJ9tca/pVVmzN6UbRS2lEITP4fxGS0MwwCEr1TlyksRL7de/HrWDkVE9Rj6CyVlNYFbF8HEa5TdN4n9M1A5mDTIoorX7BGqPu0+FWH1GIxUjeuWSo+KFU2OFTnwq/1hLmu/sA6mKuMovfuLhY79DiuTiCrCVLk3OcxlyXG7t1iOwjJiaQz94wohm6c="

install :
  - bash .bldr/bldr -b up

script :
  - bin/simple-phpunit || bin/phpunit

after_script :
  - bash .bldr/bldr -b down

...